.movie-card {
    background-color: #2c2b2b;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.2s; /* Animación suave */
    max-width: 300px; /* Limita el ancho de la tarjeta */
    margin: 0 auto; /* Centra la tarjeta en su contenedor */
}

.movie-card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.favoritos-title {
    text-align: center;
    font-size: 2rem; /* Tamaño del texto */
    color: #f39c12; /* Color del texto, ajusta según tu diseño */
    margin: 20px 
}

.movie-card-content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.movie-img {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.movie-description {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto; 
    display: block; 
    width: fit-content;
}

.movie-rating {
    font-size: 16px;
    color: #ff9800; /* Color dorado para el rating */
    text-align: center;
}

.favoritosBoton {
    background: transparent; /* Quita el fondo blanco */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: flex; /* Permite centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 0; /* Elimina el padding */
}

.favoritos-container {
    margin-top: 10px; /* Espaciado superior para separación */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}
